
<%= image_tag("meetup.jpg", class:'center-block') %>
<div class="container">
<div style="background-color:#696969;height:50px">
    <%= form_tag({controller: "groups", action: "search"}, method: "get", class: "form-inline") do %>
                <%= text_field_tag(:tag,'', placeholder: 'Search for groups ...',
                                   class: 'form-control input-lg') %>
                <%= select_tag(:distance, options_for_select(['2 km','5 km','10 km','25 km','50 km','100 km','Any
                distance']), class: 'form-control input-lg') %>
                <%= text_field_tag(:location,'', placeholder: 'City or Postal Code ...',
                                   class: 'form-control input-lg') %>
                <%= submit_tag("Groups", class: 'btn-lg btn-primary pull-right') %>
             <%= link_to 'Calendar',events_find_path, class:"btn-lg btn-default pull-right" %>
            <% end %>

	
	
</div>	

 

 <div class="row">
  <% @groups.each do |group| %>
  <div class="col-sm-4" style=" padding-bottom: 25%">

<h3 class="text-center"><%= group.topicname %></h3><br>

<%= link_to group_path(group) do %>
   <div class="text-center"> <%= image_tag group.avatar.url ,class:'img-circle img-responsive img-rounded',style:'width:100%' %></div>
<% end %>

     </div> 
 
  <% end %>
 </div> 
</div>

