<html>
<head>
<style>
.div{
border:solid ;
}
.div1{
border:solid 1px;
width:100px;
float:left;
height:50px;
}
.div2{
border:solid 1px;
height:200px;
}

.div4{
border:solid 1px;
width:100px;
float:left;
height:50px;
}

.div5{
border:solid 1px;


height:200px;
}
</style>

</head>
<body>

<div class="container">
<h1 class="page-header">Adding New Group</h1>
<%= form_for :group ,url:groups_path do |f| %>



    <%= f.hidden_field :user_id, :value => current_user.id %>
 
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :topicname,class:"form-control" ,placeholder:"Enter group name....."%>
  </div>
   
 <% if @group.errors[:topicname].present? %>
          title can`t be blank
  <% end %>
     <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description ,class:"form-control" ,placeholder:"Enter group description....."%>
    </div>
  

 <% if @group.errors[:description].present? %>
          description can`t be blank
  <% end %>





    <%= fields_for :tag do |t| %>

    <%= t.label :interest %><br>
<div class="div2 well"></div>

            <%= t.hidden_field :name ,class:"text form-control"  %><br/><br />
    <%= t.hidden_field :id , class:"id" %>
<div class="div5 well"><% @tags.each do |tag| %>
<div class="div1 well" id="<%= tag.id %>" ><%= tag.name %></div>

        <% end %></div>
<% end %>


<br><br><br><br>
 <div class="form-group">
  <%= f.file_field :avatar %>
</div>
<div class="form-group">
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

 
   <div class="form-group">
    <%= f.submit class:"btn btn-success" %>
  </div>
<% end %>




</div>
<script>
$(function() {
var interest="";
var intid="";
var lastvalue=[];
$(".div1").click(function(){

var text=$(this).children().remove().end().text();
var id=$(this).attr('id');
$(this).remove();
console.log(id);

interest=text+','+interest;
intid=id+','+intid;
$.ajax({
  type: "get",
  url: "/groups/new",
  dataType: "JSON",
  data: { 'data': interest,'id':intid },
  complete: function(data)
  {
var array = JSON.parse( data.responseText );


divtext=array[0].split(',');
divid=array[1].split(',');
    console.log(divtext);
$(".div2").append("<div class='div4 well' id="+divid[0]+">"+divtext[0]+"</div>");
$(".div4").click(function(){

var text1=$(this).children().remove().end().text();
var id1=$(this).attr('id');
$(this).remove();

var index = divtext.indexOf(text1);
if (index > -1) {
    divtext.splice(index, 1);
}

var index1 = divid.indexOf(id1);
if (index1 > -1) {
    divid.splice(index1, 1);
}

//var rest=$(".div4").children().remove().end().text();
console.log(array[0]);
console.log(divtext+"aya");
    console.log(typeof(array));
    $(".text").val(divtext);
    $(".id").val(divid);

  });}
});









})




});

</script>
</body>
</html>
