<div class="container">

<%= form_for :group ,url:groups_path do |f| %>


  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :topicname %>
  </p>
 
 <% if @group.errors[:topicname].present? %>
          title can`t be blank
  <% end %>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

 <% if @group.errors[:description].present? %>
          description can`t be blank
  <% end %>
 <p>
    <%= fields_for :tag do |t| %>
    <%= t.label :interest %><br>
            <%= t.text_field :name %><br/><br />

        <% end %>
  </p>

  <%= f.file_field :avatar %>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
