<p>
  <strong>Title:</strong>
  <%= @group.topicname %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @group.description %>
</p>

 
<h2>Events</h2>
<% @group.events.each do |event| %>
  
 
  <p>
    <strong>Events:</strong>
    <%= event.date %>
<%= event.time %><br>
<%= link_to event.title , group_event_path(@group,event), method: :get %><br>
    <%= event.description %>
    <%= event.title %>
  </p>


<%= link_to 'Delete ', [@group, event],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_group_event_path(@group,event), method: :get %>



<% end %>
