<html>
<body>
<%= link_to 'newevent', new_group_event_path(@group), method: :get %>

<%  if current_user.isadmin == "admin" or current_user.id == @group.user_id %>
<%= link_to 'edit group', edit_group_path(@group), method: :get %>
<%= link_to 'delete group', group_path(@group), method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>

<%if !@groupmemebe.present? and current_user.isadmin != "admin" and !@groupadmin.present? %>
<%= button_to 'join'  ,{:controller => "groups", :action => "action", :group_id => @group.id, :user_id=>current_user.id} ,:id=>"button", :method=>:post  %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @group.topicname %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @group.description %>
</p>

 
<h2>Events</h2>
<% @group.events.each do |event| %>
  
 
  <p>
    <strong>Events:</strong>
    <%= event.date %>
<%= event.time %><br>
<%= link_to event.title , group_event_path(@group,event), method: :get %><br>
    <%= event.description %>
    <%= event.title %>
  </p>

<%  if current_user.isadmin == "admin" or current_user.id == event.user_id %>
<%= link_to 'Delete ', [@group, event],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_group_event_path(@group,event), method: :get %>
<% end %>


<% end %>

</body>
</html>
