<div class="container">
<% if current_user.isadmin == "admin" %>
 <%= link_to 'Groups', groups_path,class:"btn btn-info" %>
 <%= link_to 'Tags', tags_path,class:"btn btn-primary" %>
<%- model_class = User -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  
    <tr>

      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:gender) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>





    </tr>
  <% @users.each do |user| %>
  <% if(user.isadmin != "admin") %>
<tr>
<td><%= user.name %></td>
<td><%= user.email %></td>
<td><%= user.gender %></td>
<td><%= user.age %></td>
<td><%= user.city %></td>
<td><%= user.country %></td>

<td><%= link_to 'Show', user_path(user) ,class:"btn btn-primary"%></td>
<td><%= link_to 'Edit', edit_user_path(user),class:"btn btn-warning" %></td>
<td><%= link_to 'Destroy', user_path(user), method: :delete ,class:"btn btn-danger"%></td>
</tr>
<% end %>
<%end%>
<tbody>
<%else%>
<p> you are not the admin so you cant see this page</p>
 <script type="text/javascript">
    window.location.href="http://localhost:3000/groups"  // put your correct path in a string here
  </script>
<%end%> 
</div> 
