<div class="container">
<%= form_for :event ,url:group_events_path do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :group_id, :value => @group.id %>
<div class="form-group">

    <%= f.label :title %><br>
    <%= f.text_field :title ,class:"form-control",placeholder:"Enter Event title...." %>

 
  <% if @event.errors[:title].present? %>
<div class="text-danger">
          title can`t be blank
</div>
  <% end %>
</div>
<div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description ,class:"form-control",placeholder:"Enter Event description....." %>

 <% if @event.errors[:description].present? %>
<div class="text-danger">
          description can`t be blank
</div>
  <% end %>
  </div>
<div class="form-group">
    <%= f.label :location %><br>
    <%= f.select :location, 
    options_for_select(['Alexandria,Egypt','Cairo,Egypt']),
    class: 'form-control' %>
 
 <% if @event.errors[:location].present? %>
<div class="text-danger">      
   location can`t be blank
</div>
  <% end %>
</div>
<div class="form-group">
    <%= f.label :avatar %><br>
  <%= f.file_field :avatar  %>

<% if @event.errors[:avatar].present? %>
<div class="text-danger">
         avatar can`t be blank
</div>
  <% end %>
  </div>
<div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_field:date ,class:"form-control" %>
  
<% if @event.errors[:date].present? %>
<div class="text-danger">      
  date can`t be blank
</div>
  <% end %>
</div>
<div class="form-group">
    <%= f.label :time %><br>
    <%= f.time_field :time ,class:"form-control"%>
 
<% if @event.errors[:time].present? %>
<div class="text-danger">
         time can`t be blank
</div>
  <% end %>
</div> 
<div class="col-sm-10">
    <%= f.submit  class:"btn btn-success" %>
 </div>
<% end %>
</div>
